mixin diaryList(diary)
  div.diary_list
    h4.diary_title
      a(href=`/diary/${diary._id}`)=diary.title
    p.diary_date
      span #{diary.createdAt.getFullYear()}년 
      span #{diary.createdAt.getMonth() + 1}월  
      span #{diary.createdAt.getDate()}일  
        if(diary.createdAt.getDay() === 1)
          span 월요일
        else if(diary.createdAt.getDay() === 2)
          span 화요일
        else if(diary.createdAt.getDay() === 3)
          span 수요일
        else if(diary.createdAt.getDay() === 4)
          span 목요일
        else if(diary.createdAt.getDay() === 5)
          span 금요일
        else if(diary.createdAt.getDay() === 6)
          span 토요일
        else if(diary.createdAt.getDay() === 7)
          span 일요일
    p.diary_author 작성자 : 
      a(href=`/users/${diary.author.id}`) #{diary.author.nickname}님
    p.diary_views 조회수 : #{diary.views}회