extends ../base.pug

block content 
  div#diary_container(data-id=diary._id)
    h1=diary.title
    if diary.imageFile 
      img(src="/" + diary.imageFile, style="width: 200px; height: 200px;")
    p(style="border : 1px solid #000; width: 400px; height: 100px")=diary.memo
    small 작성일 : #{diary.createdAt.toLocaleString()}
    br
    small 작성자 : 
      a(href=`/users/${diary.author._id}`) #{diary.author.nickname} 님
    if loggedInUser._id === diary.author._id
      div 
        a(href=`${diary._id}/update`) 글 수정하기 &rarr;
        br
        a(href=`${diary._id}/delete`) 글 삭제하기 &rarr;

block scripts 
  script(src="../assets/js/registerView.js")
