extends ../config/base.pug
include ../mixins/diaryList

block content 
  div.profile_container
    img.avatar_img(src="/" + user.avatarUrl)
    div.user_data
      p.user_data_title #{user.nickname}(#{user.name})님의 프로필
      hr
      p.user_data_modify
        a(href=`${user.id}/edit`) 회원정보 수정하기 &rarr;
      if !user.socialOnly
        p.user_data_modify
          a(href=`${user.id}/changePassword`) 비밀번호 수정하기 &rarr;
      p.user_data_modify
        a(href=`${user.id}/delete`) 회원 탈퇴하기 &rarr;
  hr
  each diary in user.diaries 
   +diaryList(diary)
  else 
    li 현재 등록한 다이어리가 없습니다. 등록해보세요!
